* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #1b262c;
}

.center-item {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 75vh;
}

.nav-burger {
    
    color: #fff;
}

.avatar-content img {
    background-color: #fff;
    border-radius: 50%;
    padding: 10px 30px 40px 30px;
    width: 80%;
    height: auto;
}

.seccion-footer {
    padding-top: 30px;
}

.icons-footer {
    font-size: 35px;
    color: #fff;
}


.title-name {
    font-size: 50px;
    font-weight: 600;
}

.text-content {
    font-size: 25px;
}

.hrow {
    background-color: #f95959;
    height: 1px;
    padding: 0 50px;
}

.text-about {
    font-size: 20px;
    font-weight: 500;
    color: #254b62;
}

.modal-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.header-modal{
    font-size: 30px;
    font-weight: 600;
    color: #f95959;
}

.icon-cv {
    padding: 20px;
    background-color: #f95959;
    font-size: 30px;
    margin-bottom: 20px;
}

.text-d {
    color: #254b62;
    font-size: 20px;
}

.marginx{
    padding: 0;
    margin: 0;
}

.activities {
    padding: 10px;
    background-color: #f2f2f2;
}


@media (max-width: 768px) {
    body {
        background-color: #1b262c;
    }
}